<div class="page-layout container-fluid">
  <div class="page-heading">
    <h2>Edit Service Area</h2>
  </div>

  <div class="page-body container-fluid">
    <%= render "form", service_area: @service_area %>
  </div>
</div>
