<div class="service-areas container-fluid">
  <div class="page-heading">
    <h2>New Service Area</h2>
  </div>

  <div class="page-body container-fluid">
    <%= render "form", service_area: @service_area %>
  </div>
</div>